@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: radial-gradient(circle at top,
      hsl(270, 60%, 10%),
      hsl(270, 50%, 4%));
  color: var(--foreground);
  font-family: 'Courier New', monospace;
}